In [1]:
2//3

0

In [2]:
6<<2

24

In [3]:
6&2

2

In [4]:
6|2

6

# 11th answer

In [5]:
x = int(input("Enter a number x: "))
factorial = 1
if x < 0:
    print(" Factorial does not exist for negative numbers")
elif x == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,x + 1):
        factorial = factorial*i
    print("The factorial of",x,"is",factorial)

Enter a number x: 6
The factorial of 6 is 720

# 12th answer

In [6]:
for n in range(2,10):
    for x in range (2,n):
        if n%x==0:
            print(n,"is not prime but composite number")
            break
    else:
        print(n,"number is prime but not composite number")

2 number is prime but not composite number
3 number is prime but not composite number
4 is not prime but composite number
5 number is prime but not composite number
6 is not prime but composite number
7 number is prime but not composite number
8 is not prime but composite number
9 is not prime but composite number

# 13th answer

In [7]:
string = input("Please enter your own Text : ")
str1 = ""

for i in string:
    str1 = i + str1
print("Reverse Order : ", str1)

if(string == str1):
    print("This is a Palindrome String")
else:
    print("This is Not")

Please enter your own Text : level
Reverse Order :  level
This is a Palindrome String

# 14th answer

In [8]:
import math



a = float(input("Enter base: "))
b = float(input("Enter height: "))
x = float(input("Enter angle: "))



c = math.sqrt(a ** 2 + b ** 2)



print("Hypotenuse =", c)

Enter base: 12
Enter height: 12
Enter angle: 100
Hypotenuse = 16.97056274847714

# 15th answer

In [9]:
string=input("Enter the string: ")

char=input("Please enter the char to find frequency of ta character\n")

count=0

for i in range(len(string)):

    if(string[i]==char):

        count=count+1

print("The frequency of the ",char,"in the string is: ",count)

Enter the string: mango
Please enter the char to find frequency of ta character
n
The frequency of the  n in the string is:  1